{% extends '::base4.html.twig' %}

{% block body %}
    <div class="col-md-offset-2 col-md-8">
    <h1>Crear Usuario</h1>

    <ul class="record_actions pull-right">
        <li>
            <a href="{{ path('usuario') }}">
                Ver la Lista
            </a>
        </li>
    </ul>

 {{ form_start(form, {'role': 'form'}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.correo) }}
        {{ form_errors(form.correo) }}
        {{ form_widget(form.correo,{ 'attr': {'class': 'form-control','type':'email','placeholder':'example@alinet.cu'}    }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.nombre) }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control','placeholder':'Nombre'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password,{ 'attr': {'class': 'form-control' ,'type':'password','placeholder':'Contraseña'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.rol) }}
        {{ form_errors(form.rol) }}
        {{ form_widget(form.rol,{ 'attr': {'class': 'form-control'} }) }}
    </div>

        {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-default','label': 'Aceptar'} }) }}

    {{ form_end(form) }}

</div>

{% endblock %}
